/* Your app custom styles here */
.social-media-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
  }
}

.list ul {
  display: flex;
}

.avatar-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.divider {
  width: 50px;
  height: 2px;
  background: var(--f7-theme-color);
  margin-top: 20px;
}

.hello {
  font-size: 40px;
  color: var(--f7-theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  @media screen and (max-width: 960px) {
    flex-direction: column;
  }
}

.summary-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 16px;
}

.sub-title {
  font-size: 24px;
  font-weight: 600;
}

.summary-text {
  text-align: center;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  .description,
  .email {
    font-size: 24px;
  }

  .email {
    margin-top: 16px;
  }
  .email-address {
    border-bottom: 2px solid var(--f7-theme-color);
  }
}
