/* Material Icons Font (for MD theme) */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(../fonts/material-icons.woff2) format("woff2"),
    url(../fonts/material-icons.woff) format("woff");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* Framework7 Icons Font (for iOS theme) */
@font-face {
  font-family: "Framework7 Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
    url("../fonts/Framework7Icons-Regular.woff") format("woff");
}
.f7-icons {
  font-family: "Framework7 Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  text-align: center;
}

i.instagram {
  background-image: url("../assets/icons/instagram.svg");
}

i.youtube {
  background-image: url("../assets/icons/youtube.svg");
}

i.facebook {
  background-image: url("../assets/icons/facebook.svg");
}

i.react {
  background-image: url("../assets/icons/react.svg");
  color: var(--f7-theme-color);
}

i.telescope {
  background-image: url("../assets/icons/telescope.svg");
  color: var(--f7-theme-color);
}

i.idea {
  background-image: url("../assets/icons/idea.svg");
  color: var(--f7-theme-color);
}

i.programming {
  background-image: url("../assets/icons/programming.svg");
  color: var(--f7-theme-color);
}

i.song {
  background-image: url("../assets/icons/song.svg");
  color: var(--f7-theme-color);
}

i.top-right {
  background-image: url("../assets/icons/top-right.svg");
  color: var(--f7-theme-color);
}

.block {
  max-width: 960px;
  margin: var(--f7-block-margin-vertical) auto;
}
